@import "../../../styles/common.styles.scss";

.add-category {
  font-family: $main-font-family;
  .wrapper {
    .add-category-container {
      justify-content: center;
      .category-form-section {
        border-radius: 10px;
        @media only screen and (min-width: 800px) and (max-width: 1600px) {
        }

        .category-wrapper {
          @extend .BoxShadow;
          border-radius: 10px;
          .category-section {
            padding: 2em 3em 1em 3em;
            .css-mhc70k-MuiGrid-root > .MuiGrid-item {
              padding-left: 16px;
              padding-right: 16px;
            }
            .image-remove-section {
              display: flex;
              justify-content: space-between;
              .delete-section {
                display: flex;
                justify-content: end;
              }
            }
          }
        }

        hr {
          color: #ccc;
          opacity: 1.25;
        }

        .subcategory-wrapper {
          overflow: hidden;
          @extend .BoxShadow;
          .sub-heading {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          .add-icon-section {
            font-size: 25px;
            // background-color: #1973bb;
            // color: white;
            background-color: #fff;
            margin: 0 0.7em;
            border-radius: 25px;
          }

          border-radius: 10px;
          .subcategory-section {
            position: relative;
            padding: 0 3em;
            // .css-mhc70k-MuiGrid-root > .MuiGrid-item {
            //   padding-left: 16px;
            //   padding-right: 16px;
            // }

            .image-remove-section {
              display: flex;
              justify-content: space-between;
              div {
                margin-top: 10px;
              }
            }
            .subcategory-add-section {
              display: flex;
              justify-content: center;
              border: 1px solid;
              border-radius: 10px;
              border-color: lilac;
              border-color: #c9c9c9;
              margin: 0.5em;
              padding: 1em 0;

              .remove-section {
                display: flex;
                justify-content: center;
                .close-section {
                  align-items: center;
                  border: none;
                  background: white;
                  color: #1973bb;
                }
              }
            }
          }
        }
        .submit-button {
          // background-color: #cbc9c959;
          background-color: #fff;
          padding: 0;
          margin: 2em 0 0 0;
          padding: 0.5em 0;
          display: flex !important;
          justify-content: end;
        }
      }
    }
  }
}
