.list-category{
    .category-search{
        display: flex;
        justify-content: space-between;
        .css-i4bv87-MuiSvgIcon-root {
            font-size: 2.5rem!important;
        }
    }
    .table-wrapper{
        margin-top: 2em;
    }
}