.list-category {
  .category-search {
    display: flex;
    justify-content: space-between;
    .css-i4bv87-MuiSvgIcon-root {
      font-size: 1.5rem !important;
    }
  }
  .table-wrapper {
    margin-top: 2em;

    .max-width-sc {
      max-width: 350px;
      display: flex;
      flex-wrap: wrap;
    }
  }
}
