@import "../../../styles/common.styles.scss";

.register{
  font-family: $main-font-family;
  margin: 0 !important;
  padding: 0 !important;
  // width: 100%;
  //background-color: #97BC62FF;
  background-image: radial-gradient(farthest-side at 50% 20%, #fffefaed, #ffe77aff);
  background-color: #ffe77aff;
  .wrapper {
   .register-container {
      justify-content: center;
      width: 100%;
      .form-section {
       // margin-top: 2em;
       margin-top: 31px;
        border-radius: 15px;
        backdrop-filter: blur(10px);
        max-width: 550px !important;
        //height: 653px;
        height: 598px;
        box-shadow: 0px 2px 5px 2px #9f9e9b;
        @media only screen and (min-width: 800px) and (max-width: 1024px) {
          height: 566px;
          margin-top: 1em;
        }

        form {
          align-items: center;
          padding: 2.5em;
          @media only screen and (min-width: 800px) and (max-width: 1024px) {
            padding-top: 1em;
          }
          .profile-container {
            display: flex;
            justify-content: center;
          }

          .dob {
            padding-right: 10px;
          }
          .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
            padding:9.5px 14px!important;
          }
          .submit-btn-container {
            display: flex;
            justify-content: center;

            .submit-btn {
              width: 100%;
              background-color: #61b75e;
            }
          }

          .login-link {
            display: flex;
            justify-content: center;

            a {
              text-decoration: none;
              color: #399169;
            }
          }
        }
      }
    }
    .bottom-image {
      height: 350px;
      @media only screen and (min-width: 800px) and (max-width: 1024px) {
        height: 291px;
      }
      @media only screen and (min-width: 1026px) and (max-width: 1444px) {
        height:  244px;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
