@import "../../../styles/common.styles.scss";

* {
    font-family: $main-font-family;
    font-size: $main-font-size;
}

.main-container {
    font-family:$main-font-family;
    margin: 0 !important;
    padding: 0 !important;
    // width: 100%;

    .wrapper {
        // box-shadow: 0px 8px 20px 0px #00000026;
        height: 979px;

        .register-container {
            // display: flex;
            background-image: url("../../../assets/bg3.jpg");
            justify-content: center;
            // background-repeat: no-repeat;
            // object-fit: cover;
            height: 100% !important;

            .form-section {
                margin: 15em 0;
                border-radius: 15px;
                backdrop-filter: blur(10px);
                background-color: #ffffffcc;
                max-width: 550px !important;
                height: 535px;
                //  background-color: rgba(255, 255, 255, 78%);

                form {
                    align-items: center;
                    padding: 2.5em;

                    .profile-container {
                        display: flex;
                        justify-content: center;
                    }
                    .dob{
                        padding-right: 10px;
                    }
                    .submit-btn-container {
                        display: flex;
                        justify-content: center;
                        .submit-btn {
                          width: 100%;
                          background-color: $primary;
                        }
                      }
                      .login-link{
                       display: flex;
                       justify-content: center;
                       a{
                        text-decoration: none;
                       }
                      }
                }
            }
        }
    }
}