@import "../styles/variables.styles.scss";

.btn-success {
  border: 1px solid rgba(255, 255, 255, 0.4) !important;
  border-radius: 30px !important;
  background-color: $primary !important;
  &:hover,
  &:focus {
    background: transparent !important;
    color: $primary !important;
    border: 1px solid $primary !important;
  }
}

.delete-icon {
  color: $delete-color !important;
  font-size: 18px;
}
.edit-icon {
  color: $edit-color !important;
  font-size: 18px;
}

.file-btn {
  background-color: $table-header !important;
  color: $white !important;
}
.submit-button {
  background-color: #cbc9c959;
  padding: 0;
  margin: 0em 0 0 0;
  padding: 0.5em 0;
  display: flex!important;
  justify-content: end;
  .submit-btn {
    border-radius: 25px !important;
    background-color: $table-header !important;
    color: $white !important;
  }
}
.delete-section {
  display: flex;
  justify-content: end;
  .delete-btn {
    min-width: 0 !important;
    padding: 0 !important;
    .remove-icon {
      color: red;
    }
  }
}
