@import "../styles/variables.styles.scss";

.btn-success{
    border: 1px solid rgba(255,255,255,.4)!important;
    border-radius: 30px !important;
    background-color: $primary !important;
    &:hover, &:focus{
        background: transparent!important;
        color: $primary !important;
        border: 1px solid $primary !important;
    }
}
