@import "./variables.styles.scss";

$primary: "#1976d2";
$secondary: "#009688";

$error: red;
$error-font-size: 13px;

$main-font-family: "Poppins", sans-serif;
$main-font-size: 15px;

.error {
  // padding: 0.5em 0 1em;
  color: $error;
  font-size: $error-font-size;
}

//
.logout {
  position: absolute;
  bottom: 0;
  color: $primary;
  width: 100%;
  padding: 1em 0;
}

.pointer {
  cursor: pointer;
}
table {
  thead {
    background-color: $table-header;
    th {
      color: $white !important;
    }
  }
  tbody {
    tr {
      .noData {
        text-align: center;
        font-weight: bold;
      }
    }
  }
}

.await,
.pending,
.completed {
  font-size: 13px;
  color: #fff;
  font-weight: 200;
  padding: 5px 12px;
  border-radius: 12px;
  text-transform: capitalize;
}

.pending {
  background-color: red;
}
