.container {
  margin-top: 4em;
  font-family: 'Roboto Slab', serif;
  .wrapper {
    box-shadow: 0px 8px 20px 0px #00000026;
    width: 80%;
    height: 40%;
    border-radius: 10px;

    .login-container {
      display: flex;
      background-image: url("../assets/bg1.jpg");
      width: 100%;
      height: 76vh;
      justify-content: center;
      .image-wrapper {
        width: 100%;
        height: 52vh;

        img {
          width: 100%;
          height: 52vh;
          object-fit: cover;
          border-radius: 10px 0 0 10px;
          border-right: none;
        }
      }

      .form-section {
       // background-color:#f7f7f7d6;
        height: 44vh;
        color: white;
        margin:9em 0;
        border-radius: 15px;
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.5); 
      // box-shadow:1px 0 14px 0px;
        form {
          align-items: center;
          padding: 3em 5em;
          // .text-field{
            
          //   .MuiInputBase-input {              
          //     border-color: white!important;
          //     color: white !important;
          //   }
          // }
          .profile-container {
            margin-bottom: 1em;
           h2{
            align-items: center;
           }
          }

          .sub-btn {
            .login-with-button {
              border-radius: 20px;
              text-transform: none;
            }
          }

          .create-account {
            a {
              text-decoration: none;
              color: black;
            }
          }
        }
      }
    }
  }
}