@import "../../../styles/common.styles.scss";
@import "../../../styles/variables.styles.scss";

.login-section {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;

  .container {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .formWraper {
    display: flex;
    width: 80%;
    height: 100%;
    background-color: $primary;
    border-radius: 10px;
    box-shadow: 0px 0px 20px black;
    //transition: all 0.7s ease-in-out;

  }
  .formDiv {
    width: 50%;
    padding: 6% 4%;
    background-color: lavender;
    text-align: center;
    border-radius: 10px 0px 0px 10px;
    h2 {
      color: $primary;
      margin-top: -5px;
    }
    .signup-text{
      margin-top: 1em;
    }
  }
  .welcomeDiv {
    width: 50%;
    padding: 10px;
    background-size: cover;
    text-align: center;
    color: white;
    padding: 0% 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* ---- code for Font Awsome social icons */
  .socialBtn {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    .icon {
      width: 30px;
      height: 30px;
      border-radius: 15px;
      margin: 5px;
      margin: 0 0.5em;
      border: 1px solid #adabab;
      line-height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        background-color: $primary;
        color: $white;
      }
      .icons-size{
        font-size: 18px!important;
      }
    }
  }

  .separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: #a3a1a1;
  }
  
  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #a3a1a1;
  }
  
  .separator:not(:empty)::before {
    margin-right: .25em;
  }
  
  .separator:not(:empty)::after {
    margin-left: .25em;
  }
  .text {
    font-size: $main-font-size;
  }
  .orDiv {
    width: 10%;
    margin: 0 auto;
    background-color: lavender;
    position: relative;
    top: -16px;
    justify-content: center;
  }
  /* Code for Icones inside html form input */
  .checkBox {
    width: 100%;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    .checkbox-text{
      margin-left: 0.5em;
    }
    .checkbox-style{
      width: 20px;
      height: 20px;
    }
  }
  .checkbox:checked:before{
    background-color:green;
    }
  .password {
    margin-top: 1em;
  }

  .btn {
    width: 50%;
    padding: 15px;
    background-color: $primary;
    margin-top: 3em;
    color: $white;
    border-radius: 20px;
    border-style: none;
    &:hover {
      background-color: transparent;
      color: $primary;
      border: 1px solid;
      border-color: $primary;
    }
    @media screen and (max-width: 1000px) {
      margin: 1.5em 0;
      width: 100%;
    }
  }
  .btn2 {
    width: 50%;
    padding: 15px;
    background-color: transparent;
    margin-top: 15px;
    color: lavender;
    border-radius: 30px !important;
    border-style: none;
    border: 1px solid rgb(247, 243, 243);
    &:hover {
      background-color: $white;
      color: $primary;
    }
  }

  .signup-link {
    display: none;
    @media screen and (max-width: 1000px) {
      margin-top: 1em;
      display: contents;
      p {
        margin-top: 1em;
        display: flex;
        justify-content: center;
      }
    }
    a {
      text-decoration: none;
      color: $primary;
      margin-left: 10px;
    }
  }
  .forgot-link {
    margin-top: 1em;
    a {
      text-decoration: none;
      color: $white;
      position: relative;
    }
    a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      border-radius: 4px;
      background-color: $white;
      bottom: 0;
      left: 0;
      top: 1.5em;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }
    
    a:hover::before {
      transform-origin: left;
      transform: scaleX(1);
    }
    @media screen and (max-width: 1000px) {
      display: none;
      margin-top: 1em;
      p {
        margin-top: 1em;
      }
    }
  }
  .forgotpassword-link {
    display: none;
    @media screen and (max-width: 1000px) {
      display: contents;
      p {
        margin-top: 1em;
      }
    }
    a {
      text-decoration: none;
      color: black;
      position: relative;
    }
    a::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 4px;
      border-radius: 4px;
      background-color: black;
      bottom: 0;
      left: 0;
      top: 1.5em;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }
    
    a:hover::before {
      transform-origin: left;
      transform: scaleX(1);
    }
  }
  .back-home{
    margin-top: 1em;
    a{
      color: $white;
      text-decoration: none;
    }
  }
  /* making HTML registration form responsive to mobile devices */
  @media screen and (max-width: 1000px) {
    .formWraper {
      width: 95%;
    }
  }
  @media screen and (max-width: 670px) {
    .formDiv {
      width: 100%;
      border-radius: 10px 10px 10px 10px;
    }
    .welcomeDiv {
      display: none;
    }
  }
}
