@import "../../../../styles/button.styles.scss";
@import "../../../../styles/footer.styles.scss";
@import "../../../../styles/variables.styles.scss";
@import "../../../../styles/header.styles.scss";

.bg-light {
  background: #f7f6f2 !important;
}

.bg-primary {
  background: $primary;
}

.bg-secondary {
  background: $secondary !important;
}

.bg-color-1 {
  background: $color-1;
}

.bg-color-2 {
  background: $color-2;
}

.bg-color-3 {
  background: $color-3;
}

.bg-color-4 {
  background: $color-4;
}

.payment-container {
  font-family: $font-primary;
  background: $white;
  font-size: 15px;
  line-height: 1.8;
  font-weight: 400;
  color: lighten($black, 50%);

  &.menu-show {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
  }
}
.payment-wrap {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  padding: 10em 0;

  .slider-text {
    .breadcrumbs {
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 3px;
      font-weight: 400;

      span {
        color: white;

        a {
          color: white;
          text-decoration: none;
        }
      }
    }

    .bread {
      font-weight: 800;
      color: #fff;
      font-size: 30px;
      font-family: "Poppins", Arial, sans-serif;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
  }
}

//CHECKOUT
.payment-section {
  .billing-heading {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 400;
    color: #000000;
    font-family: "Poppins", Arial, sans-serif;
  }
  .billing-form {
    .form-group {
      position: relative;
      margin-bottom: 1rem;
    }
    label {
      color: $black;
      font-size: 14px;
    }
    .icon {
      position: absolute;
      top: 50% !important;
      right: 15px;
      font-size: 14px;
      transform: translateY(-50%);
      span {
        color: rgba(0, 0, 0, 1) !important;
      }
    }
    .select-wrap,
    .input-wrap {
      position: relative;
      select {
        appearance: none;
      }
    }
    .form-control {
      font-weight: 300;
      border: transparent !important;
      border: 1px solid rgba(0, 0, 0, 0.1) !important;
      height: 58px !important;
      padding-left: 15px;
      padding-right: 15px;
      background: transparent !important;
      color: rgba(0, 0, 0, 0.4) !important;
      font-size: 14px;
      border-radius: 0px;
      box-shadow: none !important;
    }
    textarea.form-control {
      height: inherit !important;
    }
  }
  .cart-detail {
    width: 100%;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.05);
    &.cart-total {
      border: 1px solid rgba(0, 0, 0, 0.05);
      p {
        span {
          display: block;
          width: 50%;
        }
      }
      .total-price {
        span:last-child {
          color: #000000;
          font-weight: 600;
        }
      }
    }
    .btn-primary {
      display: block;
      width: 100%;
    }
  }
}
