@import "../../../../styles/variables.styles.scss";
@import "../../../../styles/button.styles.scss";

.list-order {
  .oder-search {
    display: flex;
    justify-content: space-between;
    .css-i4bv87-MuiSvgIcon-root {
      font-size: 1.5rem !important;
    }
  }
  .order-shorthand-main-section {
    margin-left: 3px;
    .order-cart-icon-section {
      font-size: 4rem;
      color: white;
      margin: 31px 21px;
    }
    .order-shorthand-section {
      color: white;
      margin: 20px 0px;
      padding: 0px 7px;
    }
    .order-out-stock {
      @media only screen and (min-width: 800px) and (max-width: 1024px) {
        margin-left: 9em;
      }
    }
  }
  .order-table-wrapper {
    margin-top: 2em;
    .order-row-section {
      cursor: -webkit-grab;
      cursor: pointer;
    }
    .max-width-sc {
      max-width: 250px;
    }
  }
  .order-section{
    .order-cart-icon-section{
        color: white!important;
    }
  }
  .pagination-section {
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
    .MuiTablePagination-root {
      .MuiToolbar-root {
        p {
          margin-top: 15px !important;
        }
      }
    }
  }
}
